
// Fonts
@import url('https://fonts.googleapis.com/css?family=Bitter:400,700|Raleway:300,400,700');
$bitter: 'Bitter', serif;
$raleway: 'Raleway', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i,700|Montserrat:400,700');
$montserrat: 'Montserrat', sans-serif;
$cardo: 'Cardo', serif;
